<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="duiban.badmintonbuddy">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".ui.start.App"
        android:allowBackup="true"
        android:icon="@drawable/badminton_image"
        android:label="@string/app_name"
        android:roundIcon="@drawable/badminton_image"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.BadmintonBuddy">
        <activity
            android:name="duiban.badmintonbuddy.ui.main.MainActivity"
            android:exported="false"
            android:parentActivityName="duiban.badmintonbuddy.ui.main.MainActivity" />
        <activity
            android:name="duiban.badmintonbuddy.ui.login.LoginActivity"
            android:exported="false"
            android:parentActivityName="duiban.badmintonbuddy.ui.login.LoginActivity" />
        <activity
            android:name=".start.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>